body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  font-size: 18px;
  line-height: 27px;
  background-color: #ffffff;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
