body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  font-size: 18px;
  line-height: 27px;
  background-color: #ffffff;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
