.main__container {
  margin: 0 auto;
  padding: 0 16px 72px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  max-width: 450px;

  @media (min-width: $desktop-width) {
    max-width: 1110px;
    padding: 0 0 112px;
  }
}

.main__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: -0.32;

  @media (min-width: $desktop-width) {
    font-size: 64px;
    line-height: 68px;
    margin-bottom: 32px;
  }
}

.main__description {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}
