.mobile-menu {
  max-width: 80px;
  display: flex;
  column-gap: 24px;
  align-items: center;
  min-height: 24px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.mobile-menu__link {
  display: flex;
  align-items: center;
}

.mobile-menu__link:hover {
  opacity: 0.5;
}
