.navigation {
  display: none;
  color: #97a1b0;

  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
    padding-bottom: 12px;
  }
}

.navigation::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: #e3e8ed;
  bottom: -4px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.navigation__container {
  max-width: 1110px;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 0;
  margin: 0 auto;
  letter-spacing: -0.14px;
  font-size: 14px;
  line-height: 100%;
  column-gap: 175px;
}

.navigation__list-project {
  list-style: none;
  letter-spacing: -0.14px;
  display: flex;
  column-gap: 32px;
  padding: 0;
  margin: 0;
  align-self: self-start;
}

.navigation__list-user {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 32px;
}

.navigation__link-project {
  cursor: pointer;
}

.navigation__link-user {
  cursor: pointer;
}

.navigation__link-user--tel {
  color: #1a1a1a;
  letter-spacing: 0;
  font-weight: 700;
}

.navigation__link {
  border-bottom: 5px solid #ffffff;
  padding-bottom: 8px;
}

.navigation__link:hover {
  border-bottom: 5px solid #1a1a1a;
  color: #1a1a1a;
}

.navigation__link.checked {
  border-bottom: 5px solid #1a1a1a;
  color: #1a1a1a;
}
